<div class="post-container">
  <p><span class="list-item">Student:</span> <span class="list-text"><br> <%= @reflection.student_name %> </span></p>
  <p><span class="list-item">Block:</span>   <span class="list-text"><br> <%= @reflection.block %> </span></p>
  <p><span class="list-item">Teacher:</span>   <span class="list-text"><br> <%= @reflection.teacher_name %> </span></p>
  <p><span class="list-item">Project Name:</span>  <span class="list-text"><br> <%= @reflection.project_name %> </span></p>
  <p><span class="list-item">Kind of Project:</span>  <span class="list-text"><br> <%= @reflection.project_type %> </span></p>
  <p><span class="list-item">Conduct:</span>  <span class="list-text"><br> <%= @reflection.conduct %> </span></p>
  <p><span class="list-item">Leadership:</span>   <span class="list-text"><br> <%= @reflection.leadership %> </span></p>
  <p><span class="list-item">Work Requirements:</span>  <span class="list-text"><br> <%= @reflection.work %> </span></p>
  <p><span class="list-item">Creativity:</span>   <span class="list-text"><br> <%= @reflection.creativity %> </span></p>
  <p><span class="list-item">Collaboration:</span>  <span class="list-text"><br> <%= @reflection.collaboration %> </span></p>
  <p><span class="list-item">Critical Thinking:</span>  <span class="list-text"><br> <%= @reflection.thinking %> </span></p>
  <p><span class="list-item">Communication:</span>  <span class="list-text"><br> <%= @reflection.communication %> </span></p>
  <p><span class="list-item">Comments:</span>  <span class="list-text"><br> <%= @reflection.comments %> </span></p>
</div>
