<div class="post-container">
  <p>Student:   <%= @reflection.student_name %></p>
  <p>Block:   <%= @reflection.block %></p>
  <p>Teacher:   <%= @reflection.teacher_name %></p>
  <p>Project Name:    <%= @reflection.project_name %></p>
  <p>Kind of Project:   <%= @reflection.project_type %></p>
  <p>Conduct:   <%= @reflection.conduct %></p>
  <p>Leadership:    <%= @reflection.leadership %></p>
  <p>Work Requirements:   <%= @reflection.work %></p>
  <p>Creativity:    <%= @reflection.creativity %></p>
  <p>Collaboration:   <%= @reflection.collaboration %></p>
  <p>Critical Thinking:   <%= @reflection.thinking %></p>
  <p>Communication:   <%= @reflection.communication %></p>
  <p>Comments:    <%= @reflection.comments %></p>
</div>
